#
# Galera Cluster: container settings
#

[server]
bind-address=0.0.0.0
binlog_format=row
default_storage_engine={{ .Env.MARIADB_DEFAULT_STORAGE_ENGINE }}
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1
query_cache_size=0
query_cache_type=0

[galera]
wsrep_on=ON
wsrep_provider="/usr/lib/galera/libgalera_smm.so"
wsrep-sst-method=rsync

#
# Optional setting
#

# Tune this value for your system, roughly 2x cores; see https://mariadb.com/kb/en/mariadb/galera-cluster-system-variables/#wsrep_slave_threads
wsrep_slave_threads={{ .Env.GALERA_SLAVE_THREADS }}

# innodb_flush_log_at_trx_commit=0
